/*
================
* fonts 
================
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/*
================
* global rules 
================
 */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
main {
  background-color: #5a5e9a;
  height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  background: #fff;
  width: 400px;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}
h1 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 3rem;
}
.btn {
  background-color: #fff;
  outline: none;
  border: 2px solid #5a5e9a;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  transition: 0.25s;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn:hover {
  background-color: #5a5e9a;
  color: #fff;
}
.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  opacity: 0;
  transform: scale(0);
}
.popup-box.active{
  opacity: 1;
  transform: scale(1);
}
.modal {
  background-color: #fff;
  width: 60%;
  height: 30rem;
  border-radius: 1rem;
  padding: 10rem;
  text-align: center;
  position: relative;
}
h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2rem;
  color: #333;
}
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #5a5e9a;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
.close-button:hover {
  color: #111;
}
